.review-page-conatainer{
    display: flex;
}

.review-page-conatainer .review-proudct-area{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightslategray;
}